@charset "UTF-8";
/* COMMON */
body {
  height: 4000px;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  max-width: 1920px;
  font-family: "Roboto", "Noto Sans KR", "sans-serif";
  word-break: keep-all;
}

section {
  padding-top: 160px;
}

.inner {
  position: relative;
  padding: 0 80px;
  margin: 0 auto;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #191919;
  font-size: 0.875rem;
  line-height: 20px;
}

strong {
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: -0.05em;
  text-align: center;
  line-height: 1.4;
}
h2 strong {
  font-weight: 700;
}

.logo a {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: "Freckle Face", cursive;
  line-height: 68px;
  color: #EC6472;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn {
  display: inline-block;
  width: 220px;
  padding: 16px 40px;
  box-sizing: border-box;
  border: 2px solid #191919;
  border-radius: 8px;
  box-shadow: 4px 4px #191919;
  transition: all 0.4s;
}
.btn:hover {
  transform: translate(4px, 4px);
  box-shadow: none;
  background-color: #191919;
  color: #ffffff;
}

.btn--reverse {
  display: inline-block;
}

.btn--text {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
  color: #EC6472;
  padding: 16px 0 32px;
}
.btn--text i {
  margin-left: 4px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 68px;
  background-color: #ffffff;
  /* Header 스크롤 이벤트 */
}
header .inner {
  display: flex;
  justify-content: space-between;
}
header nav {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  height: 100%;
}
header nav .main-menu {
  /* my-menu 클릭 이벤트 */
}
header nav .main-menu .menu-list ul {
  height: 100%;
  display: flex;
  gap: 32px;
}
header nav .main-menu .menu-list ul li {
  line-height: 68px;
}
header nav .main-menu .menu-list ul li:hover {
  font-weight: 700;
}
header nav .main-menu .menu-list .sub-menu {
  display: none;
  position: absolute;
  bottom: 0;
  right: 20px;
  transform: translateY(100%);
}
header nav .main-menu .login {
  transition: opacity 0.8s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 80px;
  transform: translateY(100%);
  padding: 4px 0;
  background-color: #ffffff;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
header nav .main-menu .login ul li {
  cursor: pointer;
  width: 160px;
  padding: 8px 16px;
  line-height: 24px;
}
header nav .main-menu .login ul li:hover {
  background-color: #F6F7F8;
}
header nav .main-menu .login ul li i {
  padding-right: 4px;
}
header nav .main-menu.active .login {
  visibility: visible;
  opacity: 1;
}
header nav .my-menu {
  position: relative;
}
header nav .my-menu .icon-my {
  padding: 16px 0;
  cursor: pointer;
}
header nav .my-menu .icon-my img {
  width: 24px;
  height: 24px;
  padding: 4px;
  border: 2px solid #DEDEDE;
  border-radius: 50%;
}
header.sticky {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer {
  background-color: #F6F7F8;
  margin-top: 80px;
}
footer .inner {
  padding-top: 6px;
}
footer .footer-menu {
  padding: 8px 0;
  border-bottom: 1px solid #DEDEDE;
}
footer .footer-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .footer-menu ul li {
  padding: 0 24px;
  height: 40px;
  line-height: 40px;
}
footer .footer-menu ul li:first-child {
  padding-left: 0;
}
footer .footer-info {
  padding: 32px 0;
  font-size: 0.75rem;
  color: #585858;
  display: flex;
  justify-content: space-between;
}
footer .footer-info .customer-center {
  flex-basis: 30%;
}
footer .footer-info .customer-center .corp-phone {
  font-size: 1.5rem;
  margin: 2px 0 16px;
}
footer .footer-info .corp-info {
  flex-basis: 30%;
}
footer .footer-info .corp-info .email strong {
  color: #585858;
}
footer .footer-info .corp-info ul {
  margin: 16px 0;
}
footer .footer-info .corp-info ul li {
  display: inline-block;
}
footer .footer-info .corp-info ul li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  margin: 0 8px;
  background-color: #DEDEDE;
}
footer .footer-info .corp-info ul li:last-child::after {
  display: none;
}
footer .footer-info .sns-info {
  flex-basis: 30%;
}
footer .footer-info .sns-info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
footer .footer-info .sns-info ul li {
  text-align: center;
  width: 78px;
  padding: 12px 0;
  border-radius: 16px;
}
footer .footer-info .sns-info ul li i {
  width: 100%;
  font-size: 2rem;
}
footer .footer-info .sns-info ul li span {
  font-size: 0.75rem;
}
footer .footer-info .sns-info ul li:hover {
  background-color: #F2F3F4;
  color: #EC6472;
}

/* TABLET */
@media screen and (max-width: 1024px) {
  .inner {
    padding: 0 40px;
  }
  /* HEADER - TABLET */
  header nav .main-menu .login {
    right: 20px;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 20px;
  }
  h2 {
    font-size: 1.5rem;
  }
  /* HEADER - MOBILE*/
  header {
    height: 60px;
  }
  header .logo a {
    line-height: 60px;
  }
  header nav {
    position: relative;
  }
  header nav .main-menu {
    transition: opacity 0.8s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 6px;
    right: 0;
    transform: translateY(100%);
    background-color: #ffffff;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  header nav .main-menu .menu-list {
    padding: 4px 0;
  }
  header nav .main-menu .menu-list ul {
    flex-direction: column;
    gap: 0;
  }
  header nav .main-menu .menu-list ul li {
    line-height: 24px;
    cursor: pointer;
    width: 160px;
    padding: 8px 16px;
    line-height: 24px;
  }
  header nav .main-menu .menu-list ul li:hover {
    background-color: #F6F7F8;
  }
  header nav .main-menu .menu-list ul li:hover {
    font-weight: normal;
  }
  header nav .main-menu .login {
    position: static;
    transform: translateY(0);
    border: none;
    border-radius: 0 0 16px 16px;
    box-shadow: none;
    border-top: 1px solid #F2F3F4;
    padding: 4px 0;
  }
  header nav .main-menu.active {
    visibility: visible;
    opacity: 1;
  }
  header nav .my-menu .icon-my {
    padding: 12px 0;
  }
  /* FOOTER - MOBILE */
  footer {
    margin-top: 60px;
  }
  footer .footer-menu ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footer-menu ul li {
    padding: 0 24px 0 0;
    height: 32px;
    line-height: 32px;
  }
  footer .footer-info {
    padding: 16px 0 24px;
    flex-direction: column;
    gap: 24px;
  }
  footer .footer-info .customer-center {
    order: 2;
  }
  footer .footer-info .customer-center .corp-phone {
    margin-bottom: 8px;
  }
  footer .footer-info .corp-info {
    order: 3;
  }
  footer .footer-info .corp-info ul {
    margin: 8px 0;
  }
  footer .footer-info .sns-info {
    order: 1;
  }
  footer .footer-info .sns-info ul li i {
    font-size: 1.5rem;
  }
}
/* TABLET */
@media screen and (max-width: 1024px) {
  /* MAIN VIEW - Tablet */
  main .main-view .swiper-slide .slide-content {
    left: 60px;
  }
  main .main-view .swiper-slide .slide-img .bg-text {
    top: 5%;
    font-size: 7rem;
  }
  main .main-view .swiper-slide .slide-img img {
    right: 5%;
    height: 90%;
  }
  main .main-view .swiper-pagination {
    left: 60px;
  }
  /* Icon-menu - Tablet */
  .icon-menu ul {
    gap: 16px;
  }
  .icon-menu ul li a {
    gap: 6px;
    padding: 12px 16px;
  }
  .icon-menu ul li img {
    width: 60px;
    height: 60px;
  }
  .icon-menu ul li .menu-info .product {
    font-size: 1rem;
    margin: 0;
  }
  .icon-menu ul li .menu-info .product-info {
    font-size: 0.875rem;
  }
  /* Product - Tablet */
  .product .product-content {
    padding: 0;
  }
  .product .product-content .product-img {
    flex-basis: 60%;
  }
  .product .product-content .product-img img {
    width: 100%;
  }
  .product .product-content .product-info {
    flex-basis: 40%;
  }
  /* STORE - Tablet */
  .store .store-container {
    flex-direction: column;
    gap: 36px;
  }
  .store .store-container .store-info {
    text-align: center;
  }
  .store .store-container .store-info h2 {
    text-align: center;
  }
  .store .store-container .store-info .store-about {
    margin: 8px 0 32px;
  }
  .store .store-container .store-info .store-content li {
    line-height: 32px;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  /* COMMON - Mobile */
  section {
    padding-top: 60px;
  }
  /* MAIN VIEW - Mobile */
  main {
    padding-top: 60px;
  }
  main .main-view {
    width: 100%;
    height: 400px;
  }
  main .main-view .swiper-slide {
    border-radius: 16px;
    overflow: hidden;
  }
  main .main-view .swiper-slide .slide-content {
    top: 8%;
    left: 10%;
  }
  main .main-view .swiper-slide .slide-content .cate {
    font-size: 0.875rem;
  }
  main .main-view .swiper-slide .slide-content .slide-title {
    font-size: 2rem;
  }
  main .main-view .swiper-slide .slide-content .slide-sub {
    display: none;
  }
  main .main-view .swiper-slide .slide-img .bg-text {
    top: 40%;
    font-size: 4rem;
  }
  main .main-view .swiper-slide .slide-img img {
    height: 70%;
  }
  main .main-view .swiper-pagination {
    bottom: 6%;
    left: 8%;
    width: 60px;
    font-size: 0.875rem;
    padding: 4px;
  }
  main .main-view .swiper-button-prev::after,
main .main-view .swiper-button-next::after {
    display: none;
  }
  /* Icon-menu - Mobile */
  .icon-menu {
    padding-top: 16px;
  }
  .icon-menu ul li a {
    flex-direction: column;
    gap: 0;
    padding: 10px;
  }
  .icon-menu ul li .menu-info {
    width: 70px;
    text-align: center;
  }
  .icon-menu ul li .menu-info .product {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
  }
  .icon-menu ul li .menu-info .product-info {
    display: none;
  }
  /* Product - Mobile */
  .product .product-content {
    flex-direction: column;
    gap: 0;
    position: relative;
    height: auto;
  }
  .product .product-content::before {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #EFF4F9;
    border-radius: 16px;
  }
  .product .product-content .product-img {
    max-width: 400px;
  }
  .product .product-content .product-img::before {
    display: none;
  }
  .product .product-content .product-info {
    width: 80%;
    padding: 20px 0 40px;
    font-size: 0.875rem;
  }
  .product .product-content .product-info .product-title {
    font-size: 3rem;
  }
  .product .product-content .product-info .product-point {
    margin: 24px 0 36px;
  }
  .product .product-content .product-info .product-point li {
    padding-bottom: 8px;
  }
  .product .product-content .product-info button {
    width: 100%;
  }
  .product .product-content .product-info button a {
    width: 100%;
    padding: 12px 0;
  }
  .product .doughp {
    margin-bottom: 60px;
  }
  .product .doughp::before {
    background-color: #F8F3EB;
  }
  .product .doughp .product-img {
    order: 1;
  }
  .product .doughp .product-info {
    order: 2;
  }
  /* Donation - Mobile */
  .donation {
    height: auto;
    margin-top: 60px;
    background-attachment: scroll;
  }
  .donation .donation-container {
    padding: 80px 0;
    background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.8) 50%);
    background: -o-linear-gradient(to top, #fff, rgba(255, 255, 255, 0.8) 50%);
  }
  .donation .donation-container .donation-title {
    width: 80%;
    margin: 0 auto;
    word-break: keep-all;
  }
  .donation .donation-container .donation-count {
    flex-direction: column;
    gap: 0;
    margin-top: 48px;
  }
  .donation .donation-container .donation-count .count {
    padding: 14px 0;
  }
  .donation .donation-container .donation-count .count .count-num {
    font-size: 3rem;
  }
  /* Event - Mobile */
  .event {
    width: 100vw;
    overflow: hidden;
  }
  .event .event-area {
    padding: 0 32px;
    overflow: visible;
  }
  .event .event-area .event-button-prev {
    left: 4px;
  }
  .event .event-area .event-button-next {
    right: 4px;
  }
  /* BULK - Mobile */
  .bulk {
    margin-top: 0;
  }
  .bulk .bulk-container {
    height: 500px;
  }
  .bulk .bulk-container .bulk-info {
    width: 100%;
    height: 60%;
    padding: 10% 6%;
    text-align: center;
  }
  .bulk .bulk-container .bulk-info h2 {
    text-align: center;
  }
  .bulk .bulk-container .bulk-info .bulk-text {
    font-size: 0.875rem;
  }
  .bulk .bulk-container .bulk-info .bulk-btn {
    flex-direction: column;
    gap: 12px;
    margin: 16px 0;
  }
  .bulk .bulk-container .bulk-info .bulk-btn button {
    width: 100%;
  }
  .bulk .bulk-container .bulk-info .bulk-btn button a {
    line-height: 48px;
  }
  /* STORE - Mobile */
  .store .store-container .store-info h2 {
    margin-bottom: 12px;
  }
  .store .store-container .store-info .store-about {
    margin: 0 0 16px;
    font-size: 0.875rem;
  }
  .store .store-container .store-info .store-about br {
    display: none;
  }
  .store .store-container .store-info .store-about .store-about-1 {
    display: none;
  }
  .store .store-container .store-map iframe {
    height: 320px;
  }
}