@import './common.scss';


@keyframes shake {
  0% { transform: translateY(0)}
  0% { transform: translateY(-6px)}
}
@keyframes go {
  0% {transform: translateX(0);}
  20% {transform: translateX(4px);}
  40% {transform: translateX(0);}
  60% {transform: translateX(4px);}
  100% {transform: translateX(0);}
}

/* MAIN VIEW */
main {
  padding-top: 68px;
  .main-view {
    width: 100%;
    height: 600px;
    border-radius: $radius-16;
    overflow: hidden;
    position: relative;

    /* Main View 슾라이드 */
    .swiper-slide {
      position: relative;

      .slide-content {
        position: absolute;
        top: 16%;
        left: 110px;
        z-index: 1;
        .cate {
          font-size: 1rem;
          font-weight: 300;
        }
        .slide-title {
          font-size: 3.25rem;
          font-weight: 900;
          line-height: 1.2;
          margin: 12px 0 48px;
        }
        .slide-sub {
          font-size: 1rem;
          font-weight: 400;
        }
      }
    
      .slide-img {
        height: 100%;
        .bg-text {
          position: absolute;
          top: 2%;
          right: 6%;
          color: rgba($white, .6);
          font-size: 8rem;
          font-family: 'Freckle Face', cursive;
          text-transform: uppercase;
        }
        img {
          position: absolute;
          bottom: 0;
          right: 10%;
          height: 100%;
        }
      }
    }

    /* Main View 페이징 */
    .swiper-pagination {
      position: absolute;
      bottom: 16%;
      left: 110px;
      z-index: 1;
      display: inline-block;
      width: 80px;
      font-size: 1rem;
      padding: 8px 12px;
      color: $grey400;
      border-radius: $radius-8;
      background-color: rgba($white, .3);

      .swiper-pagination-current,
      .swiper-pagination-total {
        width: 20px;
        height: 20px;
        display: inline-block;
      }

      .swiper-pagination-current {
        color: $black;
      }
    }

    /* Main View 좌우버튼 */
    .swiper-button-prev,
    .swiper-button-next {
      width: 20px;
      height: 20px;
      padding: 8px;
      border-radius: 50%;
      color: $grey400;
      z-index: 1;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 1rem;
      text-align: center;
      line-height: 20px;
      width: 100%;
      height: 100%;
    }
    .swiper-button-prev:hover,
    .swiper-button-next:hover {
      background-color: rgba($white, .6);
      color: $black;
    }
  }
}


/* ICON MENU */
.icon-menu {
  padding-top: 48px;
  ul {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    li {
      flex: 1 1 30%;
      a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 20px 24px;
        border-radius: $radius-16;
        background-color: $grey100;
      }
      img {
        width: 80px;
        height: 80px;
      }
      .menu-info {
        .product {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 32px;
          text-transform: uppercase;
          margin-bottom: 6px;
        }
      }

      &:hover {
        a{
         background-color: darken($color: $grey100, $amount: 3);
        }
        img {
          animation: shake 1.2s 1 ease;
        }
      }
    }
  }
}


/* PRODUCT */
.product {
  .product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    height: 460px;
    padding: 0 6%;

    .product-img {
      flex-basis: 50%;
      position: relative;
      img {
        width: 540px;
        max-width: 600px;
      }
      &::before {
        content: '';
        display: block;
        width: 90%;
        height: 100%;
        border-radius: 16px 50% 50% 16px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #EFF4F9;
      }
    }

    .product-info {
      flex-basis: 50%;
      padding-left: 5%;
      box-sizing: border-box;

      .product-title {
        font-size: 5rem;
        font-family: 'Freckle Face', cursive;
        text-transform: uppercase;
        text-align: left;
      }
      .product-point {
        margin: 32px 0 48px;
        li {
          padding-bottom: 12px;
          i {
            margin-right: 12px;
          }
          &:last-child {
            padding: 0;
          }
        }
      }
      button {
        border-radius: $radius-8;
        box-shadow: 4px 4px black;
      }
    }
  }
  .doughp {
    margin-bottom: 180px;
    .product-img {
      order: 2;
      &::before{
        width: 70%;
        height: 110%;
        border-radius: 50% 50% 16px 16px;
        background-color: #F8F3EB;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


/* DONATION */
.donation {
  width: 100%;
  height: 400px;
  padding:0;
  margin-top: 160px;
  background-image: url('../images/bg-children.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .donation-container {
    height: 100%;
    background-color: rgba($white, .8);
    padding: 60px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .donation-title {
      .donation-date {
        font-size: 0.875rem;
        text-align: center;
        margin-top: 12px;
        color: $grey400;
      }
    }

    .donation-count {
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin-top: 48px;

      .count {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .num-ani {
          font-size: 3.5rem;
          font-weight: 500;
          font-family: 'LAB디지털';
        }
      }
    }
  }
}

/* EVENT */
.event {
  .event-intro {
    .event-btn {
      display: block;
      margin: 12px auto 32px;
      transition: all 1s;
      a{
        font-size: 1rem;
        line-height: 32px;
        color: $brand-color;
        i {
          font-size: 0.875rem;
          margin:0 4px;
        }
      }
      &:hover {
        a {
          font-weight: 700;
          i {
            animation: go 2s infinite ease-in-out;
          }
        }
      }
    }
  }

  .event-area {
    overflow: hidden;

    .event-content {
      border: 2px solid $black;
      border-radius:  16px;
      box-sizing: border-box;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      overflow: hidden;

      a {
        width: 100%;
      }

      .event-img {
        position: relative;
        width:100%;
        overflow: hidden;

        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 0;
          padding-top: 56.25%;
        }
        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
        .event-run {
          position: absolute;
          top: 5%;
          left: 5%;
          padding: 6px 12px;
          border-radius: 16px;
          font-weight: 500;
          text-transform: uppercase;
          
          &.open {
            background-color: $brand-color;
            color: $white;
          }

          &.close {
            background-color: $grey400;
            color: $white;
          }
        }
      }
      
      .event-info {
        padding: 24px 24px 32px;

        .event-title {
          display:inline-block;
          font-size: 1.25rem;
          font-weight: bold;
        }
        .event-text {
          margin: 6px 0 24px;
        }
        .event-date {
          font-size: 0.875rem;
          font-weight: 400;
          color: $grey400;
        }
      }
    }

    /* 슬라이드 흐림효과*/
    .swiper-slide {
      opacity: .4;
      transition: opacity 1s;
      margin: 4px 0;
    }
    .swiper-slide-active {
      opacity: 1;
      &:hover {
        box-shadow: 4px 4px $black;
        transform: translate(-2px, -2px);
      }
      /*
      화면에 3개 이외에 다른 슬라이드를 안보이게 overflow:hidden;을 하게되면
      box-shadow가 잘리게 된다.
      box-shadow가 전부 보이기 위해 margin값을 주면 해결할 수 있다.
      */
    }

    /* swiper 좌우버튼*/
    .event-button-prev,
    .event-button-next {
      width: 42px;
      height: 42px;
      text-align: center;
      line-height: 42px;
      border-radius: 50%;
      border: 2px solid $black;
      background-color: $white;
      position: absolute;
      top: 50%;
      transform: translateY(100%);
      z-index: 1;
      outline: none;
      cursor: pointer;
      transition: all .4s;
    }
    
    .event-button-prev {
      left: 20px;
    }
    .event-button-next {
      right:20px;
    }
  }
}

/* BULK */
.bulk {
  margin-top: 60px;
  
  .bulk-container {
    position: relative;
    height: 320px;
    background-color: $grey100;
    border-radius:  $radius-16;

    .bulk-info {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 4% 5%;
      box-sizing: border-box;

      h2 {
        text-align: left;
        margin-bottom: 12px;
      }
      .bulk-text {
        color: $grey400;
        font-weight: 300;
        letter-spacing: -0.025em;
      }

      .bulk-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        button {
          flex: 1 1 50%;
          border: 2px solid rgba($black, .05);
          border-radius: $radius-8;
          box-sizing: border-box;
          transition: all .4s;
          a {
            width: 100%;
            font-size: 1rem;
            line-height: 80px;
          }
          &:hover {
            border-color: $black;
            background-color: rgba($white, .6);
            box-shadow: 4px 4px $black;
            transform: translate(-2px, -2px);
          }
        }
      }
    }
    
    img {
      position: absolute;
      bottom: 0;
      right: 10%;
      width: 30%;
      max-width: 400px;
      min-width: 250px;
    }
  }
}