@import './common.scss';

/* TABLET */
@media screen and (max-width:1024px) {

  /* MAIN VIEW - Tablet */
  main {
    .main-view {
      .swiper-slide {
        .slide-content {
          left: 60px;
        }
        .slide-img {
          .bg-text {
            top: 5%;
            font-size: 7rem;
          }
          img {
            right: 5%;
            height: 90%;
          }
        }
      }
      .swiper-pagination {
        left: 60px;
      }
    }
  }

  /* Icon-menu - Tablet */
  .icon-menu {
    ul {
      gap: 16px;
      li {
        a {
          gap: 6px;
          padding: 12px 16px;
        }
        img {
          width: 60px;
          height: 60px;
        }
        .menu-info {
          .product {
            font-size: 1rem;
            margin: 0;
          }
          .product-info {
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  /* Product - Tablet */
  .product {
    .product-content {
      padding: 0;
      .product-img {
        flex-basis: 60%;
        img {
          width: 100%;
        }
      }
      .product-info {
        flex-basis: 40%;
      }
    }
  }

  /* STORE - Tablet */
  .store {
    .store-container {
      flex-direction: column;
      gap: 36px;
      
      .store-info {
        text-align: center;
        h2 {
          text-align: center;
        }
        .store-about {
          margin: 8px 0 32px;
        }
        .store-content {
          li {
            line-height: 32px;
          }
        }
      }
    }
  }
}



/* Mobile */
@media screen and (max-width: 767px) {
  
  /* COMMON - Mobile */
  section {
    padding-top: 60px;
  }

  /* MAIN VIEW - Mobile */
  main {
    padding-top: 60px; 
    .main-view {
      width: 100%;
      height: 400px;

      .swiper-slide {
        border-radius: $radius-16;
        overflow: hidden;

        .slide-content {
          top: 8%;
          left: 10%;
          .cate {
            font-size: 0.875rem;
          }
          .slide-title {
            font-size: 2rem;
          }
          .slide-sub {
            display: none;
          }
        }

        .slide-img {
          .bg-text {
            top: 40%;
            font-size: 4rem;
          }
          img {
            height: 70%;
          }
        }
      }
      .swiper-pagination {
        bottom: 6%;
        left: 8%;
        width: 60px;
        font-size: 0.875rem;
        padding: 4px;
      }
      .swiper-button-prev::after,
      .swiper-button-next::after {
        display: none;
      }
    }
  }

  /* Icon-menu - Mobile */
  .icon-menu {
    padding-top: 16px;
    ul {
      li {
        a {
          flex-direction: column;
          gap: 0;
          padding: 10px;
        }
        .menu-info {
          width: 70px;
          text-align: center;
          .product {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 20px;
          }
          .product-info {
            display: none;
          }
        }
      }
    }
  }

  /* Product - Mobile */
  .product {
    .product-content {
      flex-direction: column;
      gap: 0;
      position: relative;
      height: auto;

      &::before {
        content:'';
        display: block;
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: #EFF4F9;
        border-radius: $radius-16;
      }

      .product-img {
        max-width: 400px;
        &::before {
          display: none;
        }
      }
      .product-info {
        width: 80%;
        padding: 20px 0 40px;
        font-size: .875rem;
        .product-title {
          font-size: 3rem;
        }
        .product-point {
          margin: 24px 0 36px;
          li {
            padding-bottom: 8px;
          }
        }
        button {
          width: 100%;
          a {
            width: 100%;
            padding: 12px 0;
            
          }
        }
      }
    }

    .doughp {
      margin-bottom: 60px;
      &::before {
        background-color: #F8F3EB;
      }
      .product-img {
        order: 1;
      }
      .product-info {
        order: 2;
      }
    }
  }


  /* Donation - Mobile */
  .donation {
    background-size: cover;
    height: auto;
    margin-top: 60px;
    
    .donation-container {
      padding: 80px 0;
      .donation-title {
        width: 80%;
        margin: 0 auto;
        word-break: keep-all;
      }
      .donation-count {
        flex-direction: column;
        gap: 0;
        margin-top: 48px;
        .count {
          padding: 14px 0;
          .count-num {
            font-size: 3rem;
          }
        }
      }
    }
  }

  /* Event - Mobile */
  .event {
    width: 100vw;
    overflow: hidden;

    .event-area {
      padding: 0 32px;
      overflow: visible;

      .event-button-prev {
        left: 4px;
      }
      .event-button-next {
        right: 4px;
      }
    }
  }
  
  /* BULK - Mobile */
  .bulk {
    margin-top: 0;

    .bulk-container {
      height: 500px;
      .bulk-info {
        width: 100%;
        height: 60%;
        padding: 10% 6%;
        text-align: center;

        h2 {
          text-align: center;
        }
        .bulk-text {
          font-size: 0.875rem;
        }
        .bulk-btn {
          flex-direction: column;
          gap: 12px;
          margin: 16px 0;

          button {
            width: 100%;
            a {
              line-height: 48px;
            }
          }
        }
      }
    }
  }

  /* STORE - Mobile */
  .store {
    .store-container {
      .store-info {
        h2 {
          margin-bottom: 12px;
        }
        .store-about {
          margin: 0 0 16px;
          font-size: 0.875rem;
          br {
            display: none;
          }
          .store-about-1 {
            display: none;
          }
        }
      }
    }
  }
}